@keyframes showSidebar {
   0% {
      opacity: 0;
      transform: translateX(-150px);
   }
   50% {
      opacity: 8;
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.sidebar {
   border-right: 1px solid rgba(255, 255, 255, 0.25);
   padding: 4px;
   display: flex;
   flex-direction: column;
   min-width: 280px;
   width: 100%;
   max-width: 320px;
   align-items: flex-start;

   @media screen and (max-width: 860px ) {
      display: none;
      position: absolute;
      z-index: 20;
      background-color: #1B1F3A;
      height: 100vh;
      box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.164);
      animation-name: showSidebar;
      animation-duration: 750ms;

      &.show {
         display: flex;
      }
   }

   @media screen and (max-width: 480px) {
      width: 100%;
      max-width: none;
   }

   .sidebar__menu-icon {
      display: none;
      align-items: center;
      cursor: pointer;
      padding: .5rem .6rem;
      border-radius: .3rem;
      margin-top: .5rem;

      @media screen and (max-width: 860px ) {
         display: flex;
      }

      &:hover {
         background-color: #292f57;
      }
   }

   .h1 {
      margin: 16px 0;
   }

}

li {
   list-style: none;
}
p {
   margin: 0;
}

.sidebar__menu, .sidebar__tasklists {
   padding: 12px 0;
   display: flex;
   width: 100%;

   ul {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;

      li {
         font-weight: 200;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         gap: 14px;
         cursor: pointer;
         border-radius: 8px;

         &:hover {
            background-color: #292f57;
         }
      }
   }
   .active {
      background-color: #292f57;
   }
}
.sidebar__tasklists {
   display: flex;
   flex: 1;
   flex-direction: column;
   overflow: auto;

   &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #a8a0b8;
      border-radius: 0.2rem;
   }

   span {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #333b6e;
      font-size: 12px;
      position: absolute;
      font-weight: 200;
      color: #FFF;
      right: 5%;
   }

   .sidebar__tasklists-empty {
      display: flex;
      width: 100%;
      padding: .5rem;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      color: #c7c7c7;
      flex: 1;
      align-items: center;
   }
}
.sidebar__menu {
   border-bottom: 1px solid #363e74;
}

.sidebar-container {
   position: relative;
   padding: 8px 12px;
}
.sidebar__create-tasklist {
   width: 100%;
   padding: 4px;
   
   button {
      border-radius: .3rem;
      width: 100%;
      color: #FFF;
      font-size: 16px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      text-align: left;
      padding: .5rem .75rem;
      display: flex;
      align-items: center;
      gap: 6px;

      &:hover {
         background-color: #292f57;
      }
   }
}