.tasks {
   padding: 30px 40px;
   display: flex;
   gap: 5px;
   overflow: hidden;
}
.tasks__container {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 12px;
   justify-content: space-between;
}

.tasks__list {
   overflow: auto;

   &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #a8a0b8;
      border-radius: 0.2rem;
   }

   .tasks__list-tittle {
      display: flex;
      justify-content: space-between;
      padding: .3rem .2rem;
      align-items: center;
      margin-bottom: 1rem;
   }

   .more-button {
      position: relative;
      .more-button-icon {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 6px;
         border-radius: 50%;
         cursor: pointer;
         transition: all 250ms ease-in;

         &:active {
            transform: scale(1.1);
         }
         &:hover {
            background-color: rgba(54, 62, 116, 0.8);
         }
      }
   }

   .tasklist__menu {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 120%;
      right: 20%;
      border-radius: 8px;
      padding: 4px;
      background-color: #292f57;
      z-index: 500;
      letter-spacing: 1px;
      min-width: 150px;
      border: 1px solid rgba(0, 0, 0, 0.45);
      box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.35);
      
      span {
         font-weight: 200;
         font-style: italic;
         color: #d0d0e0;
         text-align: center;
         padding: 8px;
      }

      p {
         margin: 0;
         display: flex;
         align-items: center;
         gap: 8px;
         padding: 10px;
         border-radius: 4px;
         cursor: pointer;

         &:hover {
            background-color: #363e74;
         }
      }
   }

   h2 {
      font-size: 28px;
      font-weight: 400;
      margin: 0;
   }
   .tasks-subtile {
      font-size: 15px;
      font-weight: 300;
      background-color: rgba(54, 62, 116, 0.5);
      margin: .8rem 0;
      display: inline-flex;
      padding: .3rem .4rem .3rem .2rem;
      border-radius: .3rem;
      &:hover {
         background-color: rgba(54, 62, 116, 0.8);
      }
      span {
         margin-left: .5rem;
      }
      p {
         cursor: default;
      }
   }
   ul {
      display: flex;
      flex-direction: column;
      gap: .3rem;
      align-items: flex-start;
   }
   li {
      border-radius: .3rem;
      width: 100%;
   }
}

.tasks__create-task { 
   width: 100%;  
   display: flex;
   align-items: center;
   gap: 8px;
   background-color: #292f57;
   padding: 2px;
   padding-left: 8px;
   border-radius: .3rem;
   &:hover{
      background-color: #363e74;
   }

   input {
      border: none;
      background-color: transparent;
      outline: none;
      caret-color: #f8f8f8;
      flex: 1;
      padding: 8px 2px;
      font-size: 16px;
      color: #fdfdfd;
   }

   .due-date {
      width: 30px;
      padding: 0 5px;

      &:hover {
         background-color: #313868;
      }
   }

   button {
      background-color: transparent;
      color: #f0f0f0;
      border: none;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 300;

      &:hover {
         background-color: #313868;
      }
   }

   svg {
      height: 100%;
   }

}

h2 {
   margin: 0 0 10px 0;
}

.tasks__completed {
   transition: all 250ms ease-in-out;
}

.hide-tasks {
   opacity: 0;
   height: 0;
   
   div {
      padding-top: 0;
      padding-bottom: 0;
      height: 0;
      opacity: 0;
   }
   display: none !important;
}

.show-tasks {
   height: 100%;
   opacity: 1;
}

.overlay__taskform {
   position: absolute;
   z-index: 50;
   background-color: rgba(0, 0, 0, 0.25);
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.overlay__more-icon {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
}