.auth {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.text-field {
   color: #e1e1e1;
   border-color: #e1e1e1;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-bottom: 24px;
}
.auth__container {
   max-width: 400px;
   width: 100%;
   padding: .5rem;
}
.link-signin-signup {
   display: inline;
   text-align: center;
   color: #FF7844;
   border-bottom: 1px solid #FF7844;
   cursor: pointer;
}
.h1 {
   color: #f9f9f9;
}