.task {
   display: flex;
   gap: 8px;
   align-items: center;
   padding: .5rem 1rem;
   border-radius: .3rem;
   min-height: 58px;
   background-color: rgba(54, 62, 116, 0.5);

   .task__details {
      flex: 1;
      line-height: 1.7;
      font-size: 14px;

      .task__details-more-info {
         font-size: 12px;
         line-height: 1.4;
         font-weight: 300;
         color: #dadada;
         span {
            display: flex;
            align-items: center;
            gap: 5px;
         }
      }
   }

   p{
      line-height: 1.4;
      font-size: 14px;
   }
   &:hover {
      background-color: rgba(54, 62, 116, 0.8);
   }
}