
.nav {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   padding: 10px 30px;
   border-bottom: 2px solid rgba(0, 0, 0, 0.25);

   .nav__profile {
      background-color: #16192e;
      display: flex;
      padding: 4px;
      border-radius: 20px;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &:hover {
         background-color: #292f57;
      }

      .nav__profile-img {
         background-color: #434d91;
         border-radius: 50%;
         width: 32px;
         height: 32px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   
   .nav__profile-menu {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 120%;
      right: 0;
      border-radius: 8px;
      padding: 4px;
      background-color: #292f57;
      z-index: 20;
      letter-spacing: 1px;
      box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.35);
      
      span {
         font-weight: 200;
         font-style: italic;
         color: #d0d0e0;
         text-align: center;
         padding: 8px;
      }

      p {
         margin: 0;
         display: flex;
         align-items: center;
         gap: 8px;
         padding: 10px;
         border-radius: 4px;
         cursor: pointer;

         &:hover {
            background-color: #363e74;
         }
      }
   }
}

.relative {
   position: relative;
}